.logoaulab {
    width: 100px;
    height: 100px;
}

.link {
    text-decoration: none;
    color: white;
    
}

.listlink {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.listlink li {
    display: inline-block;
}

.listlink li a {
    padding: 10px;
    transition: border-bottom 0.3s;
    font-size: 25px;
}

.listlink li a:hover {
    border-bottom: 2px solid white;
}

header {
    background-image: url(https://picsum.photos/2000);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
}

.linkhome {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.btn {
    background-color: black;
    color: green;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
    color: black;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.articles {
    width: 60%;
}

.article {
    margin-bottom: 20px;
}

aside {
    width: 40%;
}

aside img {
    max-width: 100%;
    height: auto;
}